    .zc-container {
        width: 1280px; 
        margin: 0 auto;
    }
    // 布局
    .fl{
        display: flex;
    }
    .fl1{
        flex: 1;
    }
    .flw{
        flex-wrap: wrap;
    }
    .flc{
        display: flex;
        justify-content: center;
    }
    .fle{
        display: flex;
        justify-content: flex-end;
    }
    .flsa{
        display: flex;
        justify-content: space-around;
    }
    .flsb{
        display: flex;
        justify-content: space-between;
    }
    .flcc{//任意元素居中
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flc-y{
        display: flex;
        align-items: center;
    } 
    .fl-y{//垂直
        display: flex;
        flex-direction: column;
    }
    .fl-y-sb{//垂直上下布局
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }
    .fl-y-sa{//垂直上下环绕布局-水平居中
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
    }
    .fl-y-e{ // 垂直底部排序
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    } 
     
    // 宽度
    .wfull{
        width: 100%;
    } 
    .w10{
        width: 10px;
    }
    .w20{
        width: 20px;
    }
    .w30{
        width: 30px;
    }
    .w40{
        width: 40px;
    }
    .w50{
        width: 50px;
    }
    .w80{
        width: 80px;
    } 
    .w100{
        width: 100px;
    }   
    .w-10{
        width: 10%;
    }
    .w-20{
        width: 20%;
    }
    .w-30{
        width: 30%;
    }
    .w-40{
        width: 40%;
    }
    .w-50{
        width: 50%;
    }
    .w-60{
        width: 60%;
    }
    .w-70{
        width: 70%;
    }
    .w-80{
        width: 80%;
    }
    .w-90{
        width: 90%;
    }
    // 高度
    .hfull{
        height: 100%;
    }
    .h1{
        height: 1px;
    }
    .h2{
        height: 2px;
    }    
    .h20{
        height: 20px;
    }
    .lh20{
        line-height: 20px;
    }  
    .h24{
        height: 24px;
    }
    .lh24{
        line-height: 24px;
    }
    .h26{
        height: 26px;
    }
    .lh26{
        line-height: 26px;
    }
    .h28{
        height: 28px;
    }
    .lh28{
        line-height: 28px;
    }   
    .h30{
        height: 30px;
    }
    .lh30{
        line-height: 30px;
    }   
    .h40{
        height: 40px;
    }
    .lh40{
        line-height: 40px;
    }     
    .h50{
        height: 50px;
    }
    .lh50{
        line-height: 50px;
    } 
    .h100{
        height: 100px;
    } 
    .lh100{
        line-height: 100px;
    }
    .h220{
        height: 220px;
    }
    // 字体
    .f12{
        font-size: 12px;
    }
    .f14{
        font-size: 14px;
    }
    .f16{
        font-size: 16px;
    }
    .f18{
        font-size: 18px;
    }
    .f20{
        font-size: 20px;
    }
    .f22{
        font-size: 22px;
    }
    .f24{
        font-size: 24px;
    } 
    .f26{
        font-size: 26px;
    }
    .f28{
        font-size: 28px;
    }
    .f30{
        font-size: 30px;
    }  
    // margin-left
    .ml5{
        margin-left: 5px;
    }
    .ml10{
        margin-left: 10px;
    }
    .ml15{
        margin-left: 15px;
    }
    .ml20{
        margin-left: 20px;
    } 
    .ml30{
        margin-left: 30px;
    }
    .ml40{
        margin-left: 40px;
    } 
    // margin-right
    .mr5{
        margin-right: 5px;
    }
    .mr10{
        margin-right: 10px;
    }
    .mr15{
        margin-right: 15px;
    }
    .mr20{
        margin-right: 20px;
    }
    .mr30{
        margin-right: 30px;
    }
    .mr40{
        margin-right: 40px;
    } 

    // margin-top 
    .mt5{
        margin-top: 5px;
    } 
    .mt10{
        margin-top: 10px;
    }
    .mt15{
        margin-top: 15px;
    } 
    .mt20{
        margin-top: 20px;
    }
    .mt30{
        margin-top: 30px;
    }
    .mt40{
        margin-top: 40px;
    }
    .mt50{
        margin-top: 50px;
    } 
    // margin-bottom
    .mb5{
        margin-bottom: 5px;
    }
    .mb10{
        margin-bottom: 10px;
    }
    .mb12{
        margin-bottom: 12px;
    }
    .mb15{
        margin-bottom: 15px;
    }
    .mb20{
        margin-bottom: 20px;
    } 
    .mb30{
        margin-bottom: 30px;
    } 
    .mb40{
        margin-bottom: 40px;
    } 
    .mb50{
        margin-bottom: 50px;
    } 
    // padding-left
    .pl1{
        padding-left: 1px;
    }
    .pl2{
        padding-left: 2px;
    }
    .pl3{
        padding-left: 3px;
    }
    .pl4{
        padding-left: 4px;
    }
    .pl5{
        padding-left: 5px;
    }
    .pl10{
        padding-left: 10px;
    }
    .pl12{
        padding-left: 12px;
    }
    .pl15{
        padding-left: 15px;
    }
    .pl20{
        padding-left: 20px;
    }
    .pl30{
        padding-left: 30px;
    } 
    // padding-right
    .pr1{
        padding-right: 1px;
    }
    .pr2{
        padding-right: 2px;
    }
    .pr3{
        padding-right: 3px;
    }
    .pr4{
        padding-right: 4px;
    }
    .pr5{
        padding-right: 5px;
    } 
    .pr10{
        padding-right: 10px;
    }
    .pr12{
        padding-right: 12px;
    }
    .pr15{
        padding-right: 15px;
    }
    .pr20{
        padding-right: 20px;
    }
    .pr30{
        padding-right: 30px;
    } 
    // padding-top
    .pt1{
        padding-top: 1px;
    }
    .pt2{
        padding-top: 2px;
    }
    .pt3{
        padding-top: 3px;
    }
    .pt4{
        padding-top: 4px;
    }
    .pt5{
        padding-top: 5px;
    }
    .pt10{
        padding-top: 10px;
    }
    .pt12{
        padding-top: 12px;
    }
    .pt15{
        padding-top: 15px;
    }
    .pt20{
        padding-top: 20px;
    }
    .pt30{
        padding-top: 30px;
    } 
    // padding-bottom
    .pb1{
        padding-bottom: 1px;
    }
    .pb2{
        padding-bottom: 2px;
    }
    .pb3{
        padding-bottom: 3px;
    }
    .pb4{
        padding-bottom: 4px;
    }
    .pb5{
        padding-bottom: 5px;
    }
    .pb10{
        padding-bottom: 10px;
    }
    .pb12{
        padding-bottom: 12px;
    }
    .pb15{
        padding-bottom: 15px;
    }
    .pb20{
        padding-bottom: 20px;
    }
    .pb30{
        padding-bottom: 30px;
    } 
    // 背景颜色 
    .red{
        background-color: #F00;
    }
    .yellow{
        background-color: yellow;
    } 
    .gay{
        background-color: #e2e2e2;
    }
    .orange{
        background-color: #f18d00;
    }
    .blue{
        background-color: #118cdf;
    }  
   
    /* 字体颜色 */  
    .f666{ 
        color:#666;
    }  
    .f808080{
        color: #808080;
    }
    .fbd74f9{
        color:#bd74f9;
    }
    
    /* 辅助样式 */ 
    .bold{
        font-weight: 700; 
    } 
    .bold400{
        font-weight: normal;
    }
    .border-b{/*下滑线 实线*/   
        border-bottom: 1px solid #E5E5E5;
    } 
    .border-b-dashed{/*下划线虚线*/
        border-bottom:1px dashed #e7e6e6;
    }  
    .wire{/*盒子-线*/  
        height: 2px; 
        background-color: #ff5c01;
    } 
    .border{
        border: 1px solid #e6e6e6;
    } 
    .circle{/*圆*/
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #ff5d02;
    }
    .radius{
        border-radius: 50%;
    }
    .elps{//单行省略号
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
    }
    .elps2{//双行省略
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .elp{
        word-break: break-all;
    } 
    .verticalLine{//标题部分的竖线
        padding-left: 10px;
        border-left: 3px solid #ff6620; 
    } 
    /*文字右对齐*/
    .t-r{
        text-align: right;
    }
    .t-c{
        text-align: center;
    } 
    /*鼠标变小手*/
    .cursor{
        cursor: pointer;
    }
    .hover {
        color: #337ab7;
    } 
    .no-data{ //暂无数据
        height:428px;display: flex;justify-content:center;align-items: center; 
    }