#app{ // 导航栏样式 
    .nav-header-container {//关于点击导航样式配置 
        $nav-height:36px;
        height: $nav-height; 
        overflow: hidden; 
        .nav-header{ 
            height: $nav-height;  
            display: flex;   
            // text-align: center; 
            justify-content: flex-end;
        } 
        .el-menu-item, .el-submenu__title{
            height: $nav-height;
            line-height: $nav-height; 
            padding: 0 15.5px;
            border: 1px solid #ffffff;
        }

        .el-menu-item, .el-submenu__title i{
            color: #FFF;
        }
        // 鼠标滑过样式
        .submenu-title-noDropdown,
        .el-submenu__title {
          &:hover {
            background-color: $headerMenuBgc !important;
            border: 1px solid #f69900;
            color: #f7a011 !important;
          }
        }
        
        .is-active{
            color: $headerActiveMenuBgc !important;
            border: 1px solid #f69900;
            background-color: $headerMenuBgc !important;
        }
        .el-menu.el-menu--horizontal{//如果需要定义下划线则开启
            // border: solid 1px #f69900;
            border: 0;
        }
        .is-active>.el-submenu__title {//选中后标题显示控制
          background-color: #00a0e9 !important;
        } 
        .el-submenu__icon-arrow{ 
            right: 0 !important;
        } 
        & .nest-menu .el-submenu>.el-submenu__title,
        & .el-submenu .el-menu-item {
          min-width: $dropDownTabsWidth !important;
          background-color: $headerMenuBgc !important;
    
          &:hover {
            background-color:  $headerActiveMenuBgc !important;
            color: $headerActiveMenuBgc !important;
          }
        }
    } 

}
// 下拉框垂直方向样式
.el-menu--horizontal {
    &>.el-menu {
      .svg-icon {
        margin-right: 16px;
      }
    }
  
    .nest-menu .el-submenu>.el-submenu__title,
    .el-menu-item {
      &:hover { 
        background-color: $headerActiveMenuBgc !important;
      }
    }
    .is-active{
        background-color: $headerActiveMenuBgc !important;
    }
    // the scroll bar appears when the subMenu is too long
    >.el-menu--popup { 
      max-height: 100vh;
      overflow-y: auto; 
      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }
      
      &::-webkit-scrollbar {
        width: 6px;
      }
  
      &::-webkit-scrollbar-thumb {
        // background: #99a9bf;
        border-radius: 20px;
      }
    } 
    .nest-menu {
        width: 100% !important;
    }
  }
